## Pandas 
- Analyse 2D or multi dimensional data
- Table like data 
- Internally they use numpy

In [5]:
%pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.2.1.tar.gz (4.4 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'error'

  error: subprocess-exited-with-error

  × Preparing metadata (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [12 lines of output]
      + meson setup C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe\.mesonpy-p3t9k52i\build -Dbuildtype=release -Db_ndebug=if-release -Db_vscrt=md --vsenv --native-file=C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe\.mesonpy-p3t9k52i\build\meson-python-native-file.ini
      The Meson build system
      Version: 1.2.1
      Source dir: C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe
      Build dir: C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe\.mesonpy-p3t9k52i\build
      Build type: native build
      Project name: pandas
      Project version: 2.2.1

      ..\..\meson.build:2:0: ERROR: Could not parse vswhere.exe output

      A full log can be found at C:\Users\E1005238\AppData\Local\Temp\pip-install-1gyuezd1\pandas_6483391ea07e4fc5b40be004f77c8ebe\.mesonpy-p3t9k52i\build\meson-logs\meson-log.txt
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Creating data
- Dictionaries 
- Import from csv

In [2]:
import pandas as pd

In [ ]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

df = pd.Dataframe(data)
type(df)
df

In [ ]:
df.head(2) # filtering rows

## info 
feel for the data

In [ ]:
df.info()

In [ ]:
df.shape # (4,3) number of rows and columns
df.dtypes # datatypes
df.describe() # numeric
df.describe(include="all") # numeric and non numeric values

In [3]:
tips_df = pd.read_csv('./tips.csv')
tips_df

     total_bill   tip     sex smoker   day    time size
0         16.99  1.01  Female     No   Sun  Dinner    2
1         10.34  1.66    Male     No   Sun  Dinner    3
2         21.01  3.50    Male     No   Sun  Dinner    3
3         23.68  3.31    Male     No   Sun  Dinner    2
4         24.59  3.61  Female     No   Sun  Dinner    4
..          ...   ...     ...    ...   ...     ...  ...
239       29.03  5.92    Male     No   Sat  Dinner    3
240       27.18  2.00  Female    Yes   Sat  Dinner    2
241       22.67  2.00    Male    Yes   Sat  Dinner    2
242       17.82  1.75    Male     No   Sat  Dinner    2
243       18.78  3.00  Female     No  Thur  Dinner   2S

[244 rows x 7 columns]

In [5]:
tips_df.describe()

       total_bill         tip
count  244.000000  244.000000
mean    19.785943    2.998279
std      8.902412    1.383638
min      3.070000    1.000000
25%     13.347500    2.000000
50%     17.795000    2.900000
75%     24.127500    3.562500
max     50.810000   10.000000

In [23]:
tips_df[['day','time','tip']].head(5) # multiple colmns

   day    time   tip
0  Sun  Dinner  1.01
1  Sun  Dinner  1.66
2  Sun  Dinner  3.50
3  Sun  Dinner  3.31
4  Sun  Dinner  3.61

In [ ]:
tips_df[['tip', 'size']].head(5)
tips_df['tips_per_person'] = (tips_df['tip'] / tips_df['size']) # adding new column
tips_df.head(5) 
tips_df.tail(10)

## task: find how much percentage people are tipping
- percentage
- add it as another column: tip_percent
- round off to 2 decimal places

In [80]:
tips_df = pd.read_csv('tips.csv')
tips_df['tip_percent'] = round(((tips_df['tip'] / tips_df['total_bill']) * 100),2)
tips_df

tips_df.sort_values(by='total_bill')
tips_df.sort_values(by='tip', ascending=False)
tips_df.sort_values(by="tip_percent", ascending=False).head(5)

     total_bill   tip     sex smoker  day    time size  tip_percent
172        7.25  5.15    Male    Yes  Sun  Dinner    2        71.03
178        9.60  4.00  Female    Yes  Sun  Dinner    2        41.67
67         3.07  1.00  Female    Yes  Sat  Dinner    1        32.57
232       11.61  3.39    Male     No  Sat  Dinner    2        29.20
183       23.17  6.50    Male    Yes  Sun  Dinner    4        28.05

### filter the rows where people dined on a sunday
- clue is to use boolean matrix

In [29]:
sunday_diners = tips_df[tips_df['day'] == 'Sun']
sunday_diners

     total_bill   tip     sex smoker  day    time size  tip_percent
0         16.99  1.01  Female     No  Sun  Dinner    2         5.94
1         10.34  1.66    Male     No  Sun  Dinner    3        16.05
2         21.01  3.50    Male     No  Sun  Dinner    3        16.66
3         23.68  3.31    Male     No  Sun  Dinner    2        13.98
4         24.59  3.61  Female     No  Sun  Dinner    4        14.68
..          ...   ...     ...    ...  ...     ...  ...          ...
186       20.90  3.50  Female    Yes  Sun  Dinner    3        16.75
187       30.46  2.00    Male    Yes  Sun  Dinner    5         6.57
188       18.15  3.50  Female    Yes  Sun  Dinner    3        19.28
189       23.10  4.00    Male    Yes  Sun  Dinner    3        17.32
190       15.69  1.50    Male    Yes  Sun  Dinner    2         9.56

[76 rows x 8 columns]

### get the rows where person have tipped more than R10 and on a wednesday

In [43]:
tips_df = pd.read_csv('tips.csv')
fri3 = tips_df[(tips_df['tip'] > 3) & (tips_df['day'] == 'Fri')]
fri3

     total_bill   tip     sex smoker  day    time size
91        22.49  3.50    Male     No  Fri  Dinner    2
93        16.32  4.30  Female    Yes  Fri  Dinner    2
94        22.75  3.25  Female     No  Fri  Dinner    2
95        40.17  4.73    Male    Yes  Fri  Dinner    4
96        27.28  4.00    Male    Yes  Fri  Dinner    2
221       13.42  3.48  Female    Yes  Fri   Lunch    2

### task 3: extended task 2 top 5 tips on that Friday

In [44]:
fri3_sorted = fri3.sort_values(by='tip', ascending=False) # asc or desc direction
top5_fri_tips = fri3_sorted.head(5)
top5_fri_tips

     total_bill   tip     sex smoker  day    time size
95        40.17  4.73    Male    Yes  Fri  Dinner    4
93        16.32  4.30  Female    Yes  Fri  Dinner    2
96        27.28  4.00    Male    Yes  Fri  Dinner    2
91        22.49  3.50    Male     No  Fri  Dinner    2
221       13.42  3.48  Female    Yes  Fri   Lunch    2

In [45]:
# Task 2 done by Ragav
print((tips_df['tip']>3).value_counts())
tips_gt_3 = tips_df[tips_df['tip']>3]

print((tips_df['day']=='Fri').value_counts())
tips_gt_3[tips_gt_3['tip']>3]

# & and 
# | or

# Binary operation
tips_df[(tips_gt_3['day']=='Fri') & (tips_df['tip']>3)]

tip
False    146
True      98
Name: count, dtype: int64
day
False    225
True      19
Name: count, dtype: int64

     total_bill   tip     sex smoker  day    time size
91        22.49  3.50    Male     No  Fri  Dinner    2
93        16.32  4.30  Female    Yes  Fri  Dinner    2
94        22.75  3.25  Female     No  Fri  Dinner    2
95        40.17  4.73    Male    Yes  Fri  Dinner    4
96        27.28  4.00    Male    Yes  Fri  Dinner    2
221       13.42  3.48  Female    Yes  Fri   Lunch    2

### task 4: rows where - large parties: people are 5 or more or they spend R35 or more

In [ ]:
tips_df = pd.read_csv('tips.csv')
large_parties = tips_df[(tips_df['total_bill'] >= 35) | (tips_df['size'] >= 5)]
large_parties

In [ ]:
# dot syntax or box syntax
tips_df['size'] # size attribute all df or space in the column name
tips_df.smoker

tips_df[(tips_df['size']>5) | (tips_df['total_bill']>35)]

### Data Exploration

### Summarization 

- filter rows, columns
- head, tail - limit
- sort values
- conditionals with operators

### Slicing
- loc
- iloc - index

In [54]:
tips_df.head(6)

   total_bill   tip     sex smoker  day    time size
0       16.99  1.01  Female     No  Sun  Dinner    2
1       10.34  1.66    Male     No  Sun  Dinner    3
2       21.01  3.50    Male     No  Sun  Dinner    3
3       23.68  3.31    Male     No  Sun  Dinner    2
4       24.59  3.61  Female     No  Sun  Dinner    4
5       25.29  4.71    Male     No  Sun  Dinner    4

In [58]:
tips_df.iloc[3]
tips_df.iloc[3:5]

   total_bill   tip     sex smoker  day    time size
3       23.68  3.31    Male     No  Sun  Dinner    2
4       24.59  3.61  Female     No  Sun  Dinner    4

In [59]:
tips_df.loc[3]
tips_df.loc[3:5] # locating for index 3, 4 and 6

   total_bill   tip     sex smoker  day    time size
3       23.68  3.31    Male     No  Sun  Dinner    2
4       24.59  3.61  Female     No  Sun  Dinner    4
5       25.29  4.71    Male     No  Sun  Dinner    4

In [66]:
tips_df.tail(6).loc[1] # error
tips_df.tail(6).loc[239:241] # match the value not the row position
tips_df.tail(6)
tips_df.tail(60).iloc[2:4] # matches row position

total_bill     20.69
tip              5.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               5
Name: 185, dtype: object

In [67]:
tips_df.tail(6).loc[239:241, 'tip']
tips_df.tail(6).loc[239:241, ['tip','size']]
tips_df.tail(6).loc[239:241, 'tip':'day']

      tip     sex smoker  day
239  5.92    Male     No  Sat
240  2.00  Female    Yes  Sat
241  2.00    Male    Yes  Sat

In [ ]:
tips_df.tail(6).iloc[2:4, 1:5]

### task: find the rows with highest tip_percent. skip the first 5 on a weekend (sat & sun)

In [81]:
tips_df['tip_percent'] = round(((tips_df['tip'] / tips_df['total_bill']) * 100),2)
weekends = tips_df[tips_df['day'].isin(['Sun', 'Sat'])].sort_values(by='tip_percent', ascending=False).iloc[5:]
weekends

     total_bill   tip     sex smoker  day    time size  tip_percent
109       14.31  4.00  Female    Yes  Sat  Dinner    2        27.95
51        10.29  2.60  Female     No  Sun  Dinner    2        25.27
181       23.33  5.65    Male    Yes  Sun  Dinner    2        24.22
185       20.69  5.00    Male     No  Sun  Dinner    5        24.17
174       16.82  4.00    Male    Yes  Sun  Dinner    2        23.78
..          ...   ...     ...    ...  ...     ...  ...          ...
187       30.46  2.00    Male    Yes  Sun  Dinner    5         6.57
0         16.99  1.01  Female     No  Sun  Dinner    2         5.94
57        26.41  1.50  Female     No  Sat  Dinner    2         5.68
102       44.30  2.50  Female    Yes  Sat  Dinner    3         5.64
237       32.83  1.17    Male    Yes  Sat  Dinner    2         3.56

[158 rows x 8 columns]

### task 2: final result should include only tip_percent, day, tip, total_bill

In [84]:
final_result = weekends[['tip_percent', 'day', 'tip', 'total_bill']]
final_result

     tip_percent  day   tip  total_bill
109        27.95  Sat  4.00       14.31
51         25.27  Sun  2.60       10.29
181        24.22  Sun  5.65       23.33
185        24.17  Sun  5.00       20.69
174        23.78  Sun  4.00       16.82
..           ...  ...   ...         ...
187         6.57  Sun  2.00       30.46
0           5.94  Sun  1.01       16.99
57          5.68  Sat  1.50       26.41
102         5.64  Sat  2.50       44.30
237         3.56  Sat  1.17       32.83

[158 rows x 4 columns]